extends layout.pug

block content
  main
    .container
      article.card.config
        header.card-header
          .flexrow
            h2 Logger configuration
            button.right.config-cmd-reset Reset to defaults
        .card-body
          img(src="assets/logo.svg")